
pipeline:
  name: java-war
  identifiers:
  - pom.xml
  buildConfigs:
    imagestream: s2i-java:latest
    env:
    - name: MAVEN_MIRROR_URL
      value: ${MAVEN_MIRROR_URL}
    - name: MAVEN_CLEAR_REPO
      value: false
    - name: BUILD_SCRIPT
      value: |
        mvn clean deploy
        if [[ $? == 0 ]]; then
          echo "Build Successful."
        else
          echo "Build Failed!"
          exit 1
        fi
  deploymentConfigs:
    enable: false
